/* General styles */
*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
.container-full {
  width: 100%;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
a {
  text-decoration: none;
}
table {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px 12px 0px 0px;
  overflow: hidden;
  border: 1px solid #D0D0D0;
  margin: 50px 0;
  width: 100%;
}
table , th , td ,caption{
  border-bottom: 1px solid #D0D0D0;
  /* width: auto; */
}
caption{
  padding: 20px;
  width: 100%;
}
caption span{
  font-weight: bold;
  font-size: 18px;
}
ul {
  list-style: none;
}

.mt-70 {
  margin-top: 70px !important;
}
/* ==================side bar section===================== */
.sidebar {
  background: #7766e7;
  height: auto;
  width: 20%;
  padding: 30px 40px;
}
.header-side {
  padding-bottom: 100px;
  border-bottom: 1px #ffffff solid;
  width: auto;
}
.header-side h2 {
  font-size: 18px;
  color: #bdb8ea;
  margin-right: 65px;
  font-weight: 400;
}
.nav-menu {
  margin-top: 40px;
}
.nav-menu li {
  padding: 20px 40px;
  align-items: center;
  cursor: pointer;
  margin: 20px 0;
  position: relative;
  transition: all 0.3s;
}
.nav-menu li:hover {
  background: #816ff6;
  border-radius: 12px;
}
.nav-menu li img {
  margin-left: 12px;
}
.nav-menu li a {
  color: #ffffff;
  font-size: 22px;
}
.nav-menu li.active {
  background: #816ff6;
  border-radius: 12px;
}
.notification-box {
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: #198754;
  color: white;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  font-size: 18px;
  align-items: center;
}

/* ==================content section===================== */
/* ==================header===================== */
.main-content {
  width: 80%;
}
.main-content .head {
  padding: 40px 0px;
  border-bottom: 1px solid #bdb8ea;
}
.main-content .head div {
  align-items: start;
}
.main-content .head div div {
  padding: 10px;
}
.main-content .head div div.notification {
  position: relative;
  display: flex;
  align-items: center;
}
.main-content .head div div.notification span {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: #00cec9;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
}
.main-content .head div div.notification .notification-icon {
  width: 35px;
  height: 35px;
}
.main-content .head div div.name-jop-title .user-name {
  font-weight: bold;
  font-size: 16px;
}
/* ==================tables===================== */
table{
 
}
